.git
.gitignore
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

frontend/node_modules
frontend/dist
frontend/public
frontend/pnpm-lock.yaml

*.local
*.env.local
*.log

.vscode
.idea
.DS_Store